
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.form,
.listView
{
  font-size: medium;
}

.home,
.people,
.publicoatins,
.opportunities
{
  display: block;
  height: 90vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.people {
  background-image: url('../public/images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.opportunities {
  background-image: url("../public/images/img-2.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  
}

.position_view {
  font-size: medium;
  text-align: center;
}

.publications {
  background-image: url('../public/images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
}

.selective-publications {
  margin-left: 70px;
  margin-right: 70px;
}

.position__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin:  auto;
}